.cart-item-card {
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  }
  
  .cart-item-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    text-align: center;
  }
  
  .cart-item-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .cart-item-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .cart-item-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .cart-item-input {
    width: 75px;
    max-width: 100%;
    text-align: center;
  }
  
  .cart-item-delete-btn {
    font-size: 1rem;
    margin-left: auto;
    padding: 0.5rem 1rem;
  }